{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add data {% endblock %}</h1>
{% endblock %}

{% block content %}
<h3> Add new column (need 5 columns to be able to add to data)</h3>
<form method="post">
    <label for="newcolumn">New Column Name</label>
    <input name="newcolumn" id="newcolumn">
    <label for="datatype">Datatype of column</label>
    <input name="datatype" id="datatype">

    <h3> Add data to columns</h3>
  {% for data in columns %}
    <label for="{{data[1]}}">{{data[1]}}</label>
    <input name="{{data[1]}}" id="{{data[1]}}">
    {% endfor %}}
     <input type="submit" value="Submit">
</form>

<form action="/home">
    <input type="submit" value="Home" />
</form>
{% endblock %}