{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add data {% endblock %}</h1>
{% endblock %}

{% block content %}
<h3> Add new column</h3>
<form method="post">
    <label for="newcolumn">New Column Name</label>
    <input name="newcolumn" id="newcolumn">
    <label for="datatype">Datatype of column</label>
    <input name="datatype" id="datatype">
    <input type="submit" value="Submit">
</form>


<form action="/home">
    <input type="submit" value="Home" />
</form>
{% endblock %}