<!--HTML for the login page-->
{% extends 'base.html' %}

<!--Title of the page-->
{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

<!--Form which user uses to enter username, password, charity and charity-->
<!--The entered info is then used in auth.py-->
{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="charity">Charity</label>
    <input name="charity" id="charity" required>
    <label for="email">E-Mail</label>
    <input name="email" id="email" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}